body{
    padding: 0% 20%;

}

#add{
    background-color: rgb(22, 180, 212);
    color: white;
    transform: scale(1.5);
    margin-left: 30px;
    border-radius: 4px;

}

.delete{
    position: absolute;
    right: 50%;
    border-radius: 10px;
    border: rgb(20, 197, 144);
    box-shadow: rgb(160, 36, 195);
    line-height: inherit;
    transform: scaleY(0.75);
    background-color: red;
    color: white;
    
}





#unordered{
    line-height: 40px;
   
}